<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Konto Bankowe</title>
<link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<h1>Zasil konto</h1>

<h2>Podaj kwotę zasilenia</h2>
<form action="#" th:action="@{/zasilenie}" th:object="${przelew}" method="post">
<tr>

<td><input type="number" min="0.0" step="0.01" th:field="*{kwota}"/><button type="submit" action="/zasilenieEND">Zatwierdź</button></td>
</form>
<h2>Obecne saldo:</h2>
<p th:text="${saldo}"/><br>
<br>
 <br/>
  <h3>Inne opcje:</h3>
 <form method="get" action="/przelewOK">
    <button type="submit">Wypłać z konta</button>
</form>
<br/> 
<form method="get" action="/saldo">
    <button type="submit">Pobierz saldo</button>
</form><br>
<form method="get" action="/">
    <button type="submit">Strona główna</button>
</form>
<br/>








</body>
</html>